{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}
    Books
{% endblock %}

{% block body %}
    <div class=container>
        <div class="card">
            <div class="card-header">
                Hello, your logged in as {{ user }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{% if password %}Your password is:{% else %}You do not have a password!{% endif %}</h5>
                <p class="card-text">{% if password %}{{ password }}</p>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
