{% extends "base.html" %}
{% set active_page = "register" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <div class="container">
        <form action="{{ url_for('register') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label() }}
                {{ form.name(class="form-control", type="text", placeholder="Full Name") }}
            </div>
            <div class="form-group">
                {{ form.email.label() }}
                {{ form.email(type="email", class="form-control", id="exampleInputEmail1", placeholder="Email Address") }} 
            </div>
            <div class="form-group">
                {{ form.password.label() }}
                {{ form.password(type="password", class="form-control", id="password", placeholder="Create Password") }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label() }}
                {{ form.confirm_password(type="password", class="form-control", id="confirm_password", placeholder="Repeat Password") }}
                <script language='javascript' type='text/javascript'>
                    var password = document.getElementById("password")
                    , confirm_password = document.getElementById("confirm_password");
                  
                    function validatePassword(){
                      if(password.value != confirm_password.value) {
                        confirm_password.setCustomValidity("Passwords Don't Match");
                      } else {
                        confirm_password.setCustomValidity('');
                      }
                    }
  
                    password.onchange = validatePassword;
                    confirm_password.onkeyup = validatePassword;
                </script>
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
{% endblock %}